/* Navbar styling */
.navbar {
    height: 200px;
    margin: 10px;
}

.navbar__container {
    margin: 8px;
    display: flex;
    justify-content: space-between;
}

.header__main__logo {
    width: 200px;
}

.navbar__login {
    border: 1px solid black;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

    .navbar__login img {
        width: 25px;
        height: 25px;
    }

.nav__item__login {
    margin-right: 5px;
}

.navbar__user__login {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.navbar__login a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #126c93;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

    .navbar__login a:hover {
        background-color: #0c526e;
    }


/* Sell and Buy containers */
.sell-buy__container {
    display: flex;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.buy__car__ref,
.sell__car__ref {
    background-color: #333333;
    border-radius: 10px 10px 0 0;
    width: 90px;
    height: 30px;
    margin: 0 8px;
    transform: scaleY(1.3);
    transform-origin: top;
    color: white;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .buy__car__ref:hover,
    .sell__car__ref:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: .2s linear;
    }

.sell__car__ref {
    background-color: #126c93;
}

.buy__car__container__search {
    border: 1px solid #333333;
    margin: 0 8px;
    height: 50px;
    border-radius: 10px;
    background-color: #333333;
    position: relative;
    z-index: 2;
}

.buy__car__inner {
    border: 1px solid white;
    margin: 10px 8px 0;
    height: 30px;
    width: 400px;
    border-radius: 10px;
    background-color: white;
}

/* Form styling */
.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group-block1 {
    flex: 0 0 120px;
}

.form-group-block2 {
    flex: 1;
}

.form-control {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #126c93;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover {
        background-color: #0c526e;
    }

.btn {
    padding: 10px 20px;
    background-color: #126c93;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

/* Additional form styling */
.outer__carinfo__block {
    display: flex;
    align-items: flex-start;
    border-radius: 10px 10px 10px 10px;
    justify-content: space-around;
    margin: 20px;
    align-items: center;
    background-color: #33333349;
    padding: 10px 0px 10px 0px;
}

.car__item__img {
    width: 400px;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items__container {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
}

.car__info__field {
    height: 22px;
    width: 400px;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #126c93;
    color: white;
    border: none;
    border-radius: 4px;
}

    .custom-file-upload input[type="file"] {
        display: none;
    }
