.outer__carinfo__block {
    display: flex;
    align-items: flex-start;
    border-radius: 10px 10px 10px 10px;
    justify-content: space-around;
    margin: 20px;
    align-items: center;
    background-color: #33333349;
    padding: 10px 0px 10px 0px;
}

.car__item__img {
    width: 400px;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.items__container {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
}

.car__info__field {
    height: 22px;
    width: 400px;
}
