<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cartopia</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar__container">
                <img src="~/img/logo-cartopia-main.png" alt="main__logo" class="header__main__logo nav__item__logo">
                <button class="navbar__login nav__item__login">
                    <img src="~/img/login-icon.png">
                </button>
            </div>
            <div class="sell-buy__container">
                <a class="buy__car__ref" href="https://www.google.com.ua/?hl=ru">Buy</a>
                <a class="sell__car__ref" href="@Url.Action("SalePage",  "CarItemCreator")">Sale</a>
            </div>
            <div class="buy__car__container__search">
                <div class="buy__car__inner"></div>
            </div>
        </div>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
